.account{
    width: 285px;
    border: 2px solid #ccc;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
margin-bottom: 40px;
margin-left: 40px;
margin-top: 40px;
}
.account img{
    border-radius: 50%;
    background-color: black;
    
}
.info{
    display: flex;
    gap: 0px;
   background-color: rgb(203, 203, 203);
}
.stat{
    width: 95px;
    border-left: 2px solid gray;
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}
.stat:first-child{
    border-left: none;
}
